name: Lingo CI

on:
  push:
    branches: [ "master"]
  pull_request:
    branches: [ "master"]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/test_db
      DJANGO_SETTINGS_MODULE: api.settings
      DJANGO_SECRET_KEY: fjsd707r20u^(*^*&) 
      DJANGO_DEBUG: 0
      CONSOLE_EMAILING: 1
      EMAIL_HOST:  smtp.gmail.com
      EMAIL_PORT: 587 
      EMAIL_HOST_USER: host_user
      EMAIL_HOST_PASSWORD: host_password
      EMAIL_USE_TLS: 0
      EMAIL_USE_SSL: 0
      ADMIN_USER_NAME: admin_user
      ADMIN_USER_EMAIL: admin@gmail.com

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run migrations
        run: |
          python manage.py migrate

      - name: Run tests
        run: |
          python manage.py test src.apps.users.tests.test_user_list_endpoints
          python manage.py test src.apps.users.tests.test_user_detail_endpoints
